# List Comprehension

![](https://www.freecodecamp.org/news/content/images/2021/07/list-comprehension.png)

## GÖREV 1: List Comprehension yapısı kullanarak car_crashes verisindeki numeric değişkenlerin isimlerini büyük harfe çeviriniz ve başına NUM ekleyiniz.

### Notlar:
### Numerik olmayanların da isimleri büyümeli.
### Tek bir list comp yapısı ile yapılmalı.

In [1]:
import seaborn as sns
import pandas as pd
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 500)

df = sns.load_dataset("car_crashes")
df.columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   total           51 non-null     float64
 1   speeding        51 non-null     float64
 2   alcohol         51 non-null     float64
 3   not_distracted  51 non-null     float64
 4   no_previous     51 non-null     float64
 5   ins_premium     51 non-null     float64
 6   ins_losses      51 non-null     float64
 7   abbrev          51 non-null     object
dtypes: float64(7), object(1)
memory usage: 3.3+ KB

In [2]:
["NUM_" + col.upper() if str(df[col].dtypes) not in "object" else col.upper() for col in df.columns]

['NUM_TOTAL',
 'NUM_SPEEDING',
 'NUM_ALCOHOL',
 'NUM_NOT_DISTRACTED',
 'NUM_NO_PREVIOUS',
 'NUM_INS_PREMIUM',
 'NUM_INS_LOSSES',
 'ABBREV']

## GÖREV 2: List Comprehension yapısı kullanarak car_crashes verisindeki isminde "no" barındırmayan değişkenlerin isimlerininin sonuna "FLAG" yazınız.

In [3]:
[col.upper() + "_FLAG" if "no" not in col else col.upper() for col in df.columns]

['TOTAL_FLAG',
 'SPEEDING_FLAG',
 'ALCOHOL_FLAG',
 'NOT_DISTRACTED',
 'NO_PREVIOUS',
 'INS_PREMIUM_FLAG',
 'INS_LOSSES_FLAG',
 'ABBREV_FLAG']

## Görev 3: List Comprehension yapısı kullanarak aşağıda verilen değişken isimlerinden FARKLI olan değişkenlerin isimlerini seçiniz ve yeni bir dataframe oluşturunuz.

### Notlar:
### Önce yukarıdaki listeye göre list comprehension kullanarak new_cols adında yeni liste oluşturunuz.
### Sonra df[new_cols] ile bu değişkenleri seçerek yeni bir df oluşturunuz adını new_df olarak isimlendiriniz.

In [4]:
og_list = ["abbrev", "no_previous"]

new_cols = [col for col in df.columns if col not in og_list ]
new_df = df[new_cols]
new_df.head()

   total  speeding  alcohol  not_distracted  ins_premium  ins_losses
0   18.8     7.332    5.640          18.048       784.55      145.08
1   18.1     7.421    4.525          16.290      1053.48      133.93
2   18.6     6.510    5.208          15.624       899.47      110.35
3   22.4     4.032    5.824          21.056       827.34      142.39
4   12.0     4.200    3.360          10.920       878.41      165.63

# Pandas Alıştırmalar

In [5]:
import numpy as np
import seaborn as sns
import pandas as pd
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)

## Görev 1: Seaborn kütüphanesi içerisinden Titanic veri setini tanımlayınız.

In [6]:
df = sns.load_dataset("titanic")
df.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked  class    who  adult_male deck  embark_town alive  alone
0         0       3    male  22.0      1      0   7.2500        S  Third    man        True  NaN  Southampton    no  False
1         1       1  female  38.0      1      0  71.2833        C  First  woman       False    C    Cherbourg   yes  False
2         1       3  female  26.0      0      0   7.9250        S  Third  woman       False  NaN  Southampton   yes   True
3         1       1  female  35.0      1      0  53.1000        S  First  woman       False    C  Southampton   yes  False
4         0       3    male  35.0      0      0   8.0500        S  Third    man        True  NaN  Southampton    no   True

## Görev 2: Yukarıda tanımlanan Titanic veri setindeki kadın ve erkek yolcuların sayısını bulunuz.

In [7]:
df["sex"].value_counts()

male      577
female    314
Name: sex, dtype: int64

## Görev 3: Her bir sutuna ait unique değerlerin sayısını bulunuz.

In [8]:
df.nunique()

survived         2
pclass           3
sex              2
age             88
sibsp            7
parch            7
fare           248
embarked         3
class            3
who              3
adult_male       2
deck             7
embark_town      3
alive            2
alone            2
dtype: int64

##  Görev 4: pclass değişkeninin unique değerleri bulunuz.

In [9]:
df["pclass"].unique()

array([3, 1, 2])

## Görev 5:  pclass ve parch değişkenlerinin unique değerlerinin sayısını bulunuz.

In [10]:
col = ["pclass", "parch"]
df[col].nunique()

pclass    3
parch     7
dtype: int64

## Görev 6: embarked değişkeninin tipini kontrol ediniz. Tipini category olarak değiştiriniz. Tekrar tipini kontrol ediniz.

In [11]:
df["embarked"].dtype
df["embarked"] = df["embarked"].astype("category")
df["embarked"].dtype

CategoricalDtype(categories=['C', 'Q', 'S'], ordered=False)

## Görev 7: embarked değeri C olanların tüm bilgilerini gösteriniz.

In [12]:
df.loc[df["embarked"] == "C"].head()

    survived  pclass     sex   age  sibsp  parch     fare embarked   class    who  adult_male deck embark_town alive  alone
1          1       1  female  38.0      1      0  71.2833        C   First  woman       False    C   Cherbourg   yes  False
9          1       2  female  14.0      1      0  30.0708        C  Second  child       False  NaN   Cherbourg   yes  False
19         1       3  female   NaN      0      0   7.2250        C   Third  woman       False  NaN   Cherbourg   yes   True
26         0       3    male   NaN      0      0   7.2250        C   Third    man        True  NaN   Cherbourg    no   True
30         0       1    male  40.0      0      0  27.7208        C   First    man        True  NaN   Cherbourg    no   True

## Görev 8: embarked değeri S olmayanların tüm bilgilerini gösteriniz.

In [13]:
df.loc[df["embarked"] != "S"].head()

    survived  pclass     sex   age  sibsp  parch     fare embarked   class    who  adult_male deck embark_town alive  alone
1          1       1  female  38.0      1      0  71.2833        C   First  woman       False    C   Cherbourg   yes  False
5          0       3    male   NaN      0      0   8.4583        Q   Third    man        True  NaN  Queenstown    no   True
9          1       2  female  14.0      1      0  30.0708        C  Second  child       False  NaN   Cherbourg   yes  False
16         0       3    male   2.0      4      1  29.1250        Q   Third  child       False  NaN  Queenstown    no  False
19         1       3  female   NaN      0      0   7.2250        C   Third  woman       False  NaN   Cherbourg   yes   True

## Görev 10: Fare'i 500'den büyük veya yaşı 70 den büyük yolcuların bilgilerini gösteriniz.

In [14]:
df[(df["fare"]>500) | (df["age"]>70)].head()

     survived  pclass     sex   age  sibsp  parch      fare embarked  class    who  adult_male deck  embark_town alive  alone
96          0       1    male  71.0      0      0   34.6542        C  First    man        True    A    Cherbourg    no   True
116         0       3    male  70.5      0      0    7.7500        Q  Third    man        True  NaN   Queenstown    no   True
258         1       1  female  35.0      0      0  512.3292        C  First  woman       False  NaN    Cherbourg   yes   True
493         0       1    male  71.0      0      0   49.5042        C  First    man        True  NaN    Cherbourg    no   True
630         1       1    male  80.0      0      0   30.0000        S  First    man        True    A  Southampton   yes   True

## Görev 11: Her bir değişkendeki boş değerlerin toplamını bulunuz.

In [15]:
df.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

## Görev 12: who değişkenini dataframe'den düşürün.

In [16]:
df.drop("who", axis= 1).head()

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  adult_male deck  embark_town alive  alone
0         0       3    male  22.0      1      0   7.2500        S  Third        True  NaN  Southampton    no  False
1         1       1  female  38.0      1      0  71.2833        C  First       False    C    Cherbourg   yes  False
2         1       3  female  26.0      0      0   7.9250        S  Third       False  NaN  Southampton   yes   True
3         1       1  female  35.0      1      0  53.1000        S  First       False    C  Southampton   yes  False
4         0       3    male  35.0      0      0   8.0500        S  Third        True  NaN  Southampton    no   True

## Görev 13: deck değişkenindeki boş değerleri deck değişkenin en çok tekrar eden değeri (mode) ile doldurunuz.

In [17]:
df["deck"].fillna(df["deck"].mode()[0], inplace=True)
df["deck"].isnull().any()

False

## Görev 14: age değişkenindeki boş değerleri age değişkenin medyanı ile doldurun.

In [18]:
df["age"].fillna(df["age"].median(), inplace= True)
df["age"].isnull().any()

False

## Görev 15: survived değişkeninin Pclass ve Cinsiyet değişkenleri kırılımınında sum, count, mean değerlerini bulunuz.

In [19]:
df.groupby(["pclass", "sex"]).agg({"survived":["sum", "count", "mean"]})

              survived
                   sum count      mean
pclass sex
1      female       91    94  0.968085
       male         45   122  0.368852
2      female       70    76  0.921053
       male         17   108  0.157407
3      female       72   144  0.500000
       male         47   347  0.135447

## Görev 16:  30 yaşın altında olanlar 1, 30'a eşit ve üstünde olanlara 0 vericek bir fonksiyon yazınız.
### Yazdığınız fonksiyonu kullanarak titanik veri setinde age_flag adında bir değişken oluşturunuz oluşturunuz. (apply ve lambda yapılarını kullanınız)

In [20]:
df["age_flag"] = df["age"].apply(lambda x : 1 if (x<30) else 0)
df.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked  class    who  adult_male deck  embark_town alive  alone  age_flag
0         0       3    male  22.0      1      0   7.2500        S  Third    man        True    C  Southampton    no  False         1
1         1       1  female  38.0      1      0  71.2833        C  First  woman       False    C    Cherbourg   yes  False         0
2         1       3  female  26.0      0      0   7.9250        S  Third  woman       False    C  Southampton   yes   True         1
3         1       1  female  35.0      1      0  53.1000        S  First  woman       False    C  Southampton   yes  False         0
4         0       3    male  35.0      0      0   8.0500        S  Third    man        True    C  Southampton    no   True         0

## Görev 17: Seaborn kütüphanesi içerisinden Tips veri setini tanımlayınız.

In [21]:
df = sns.load_dataset("tips")
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

## Görev 18: Time değişkeninin kategorilerine (Dinner, Lunch) göre total_bill  değerlerinin toplamını, min, max ve ortalamasını bulunuz.

In [22]:
df.groupby("time").agg({"total_bill": ["sum", "min", "max", "mean"]})

       total_bill
              sum   min    max       mean
time
Lunch     1167.47  7.51  43.11  17.168676
Dinner    3660.30  3.07  50.81  20.797159

## Görev 19: Günlere ve time göre total_bill değerlerinin toplamını, min, max ve ortalamasını bulunuz.

In [23]:
df.groupby(["day", "time"]).agg({"total_bill": ["sum", "min", "max", "mean"]})

            total_bill
                   sum    min    max       mean
day  time
Thur Lunch     1077.55   7.51  43.11  17.664754
     Dinner      18.78  18.78  18.78  18.780000
Fri  Lunch       89.92   8.58  16.27  12.845714
     Dinner     235.96   5.75  40.17  19.663333
Sat  Lunch        0.00    NaN    NaN        NaN
     Dinner    1778.40   3.07  50.81  20.441379
Sun  Lunch        0.00    NaN    NaN        NaN
     Dinner    1627.16   7.25  48.17  21.410000

## Görev 20:Lunch zamanına ve kadın müşterilere ait total_bill ve tip  değerlerinin day'e göre toplamını, min, max ve ortalamasını bulunuz.

In [24]:
df.loc[(df["time"] == "Lunch") & (df["sex"] == "Female")].groupby("day").agg({"total_bill": ["sum", "min", "max", "mean"],
                                                                             "tip":["sum", "min", "max", "mean"]})

     total_bill                            tip
            sum    min    max      mean    sum   min   max      mean
day
Thur     516.11   8.35  43.11  16.64871  79.42  1.25  5.17  2.561935
Fri       55.76  10.09  16.27  13.94000  10.98  2.00  3.48  2.745000
Sat        0.00    NaN    NaN       NaN   0.00   NaN   NaN       NaN
Sun        0.00    NaN    NaN       NaN   0.00   NaN   NaN       NaN

## Görev 21: size'i 3'ten küçük, total_bill'i 10'dan büyük olan siparişlerin ortalaması nedir?

In [25]:
df.loc[(df["size"]<3) & (df["total_bill"]>10)].mean()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

total_bill    17.184965
tip            2.638811
size           1.993007
dtype: float64

## Görev 22: total_bill_tip_sum adında yeni bir değişken oluşturun. Her bir müşterinin ödediği totalbill ve tip in toplamını versin.

In [26]:
df["total_bill_tip_sum"] = df["total_bill"] + df["tip"]
df.head()

   total_bill   tip     sex smoker  day    time  size  total_bill_tip_sum
0       16.99  1.01  Female     No  Sun  Dinner     2               18.00
1       10.34  1.66    Male     No  Sun  Dinner     3               12.00
2       21.01  3.50    Male     No  Sun  Dinner     3               24.51
3       23.68  3.31    Male     No  Sun  Dinner     2               26.99
4       24.59  3.61  Female     No  Sun  Dinner     4               28.20

## Görev 23: total_bill_tip_sum değişkenine göre büyükten küçüğe sıralayınız ve ilk 30 kişiyi yeni bir dataframe'e atayınız.

In [27]:
df_30 = df.sort_values("total_bill_tip_sum", ascending= False)
df_30

     total_bill    tip     sex smoker   day    time  size  total_bill_tip_sum
170       50.81  10.00    Male    Yes   Sat  Dinner     3               60.81
212       48.33   9.00    Male     No   Sat  Dinner     4               57.33
59        48.27   6.73    Male     No   Sat  Dinner     4               55.00
156       48.17   5.00    Male     No   Sun  Dinner     6               53.17
182       45.35   3.50    Male    Yes   Sun  Dinner     3               48.85
197       43.11   5.00  Female    Yes  Thur   Lunch     4               48.11
23        39.42   7.58    Male     No   Sat  Dinner     4               47.00
102       44.30   2.50  Female    Yes   Sat  Dinner     3               46.80
142       41.19   5.00    Male     No  Thur   Lunch     5               46.19
95        40.17   4.73    Male    Yes   Fri  Dinner     4               44.90
184       40.55   3.00    Male    Yes   Sun  Dinner     2               43.55
112       38.07   4.00    Male     No   Sun  Dinner     3               42.07
207       38.73   3.00    Male    Yes   Sat  Dinner     4               41.73
56        38.01   3.00    Male    Yes   Sat  Dinner     4               41.01
141       34.30   6.70    Male     No  Thur   Lunch     6               41.00
238       35.83   4.67  Female     No   Sat  Dinner     3               40.50
11        35.26   5.00  Female     No   Sun  Dinner     4               40.26
52        34.81   5.20  Female     No   Sun  Dinner     4               40.01
85        34.83   5.17  Female     No  Thur   Lunch     4               40.00
47        32.40   6.00    Male     No   Sun  Dinner     4               38.40
180       34.65   3.68    Male    Yes   Sun  Dinner     4               38.33
179       34.63   3.55    Male    Yes   Sun  Dinner     2               38.18
83        32.68   5.00    Male    Yes  Thur   Lunch     2               37.68
39        31.27   5.00    Male     No   Sat  Dinner     3               36.27
167       31.71   4.50    Male     No   Sun  Dinner     4               36.21
175       32.90   3.11    Male    Yes   Sun  Dinner     2               36.01
44        30.40   5.60    Male     No   Sun  Dinner     4               36.00
173       31.85   3.18    Male    Yes   Sun  Dinner     2               35.03
116       29.93   5.07    Male     No   Sun  Dinner     4               35.00
155       29.85   5.14  Female     No   Sun  Dinner     5               34.99
239       29.03   5.92    Male     No   Sat  Dinner     3               34.95
214       28.17   6.50  Female    Yes   Sat  Dinner     3               34.67
125       29.80   4.20  Female     No  Thur   Lunch     6               34.00
237       32.83   1.17    Male    Yes   Sat  Dinner     2               34.00
219       30.14   3.09  Female    Yes   Sat  Dinner     4               33.23
187       30.46   2.00    Male    Yes   Sun  Dinner     5               32.46
210       30.06   2.00    Male    Yes   Sat  Dinner     3               32.06
143       27.05   5.00  Female     No  Thur   Lunch     6               32.05
90        28.97   3.00    Male    Yes   Fri  Dinner     2               31.97
96        27.28   4.00    Male    Yes   Fri  Dinner     2               31.28
77        27.20   4.00    Male     No  Thur   Lunch     4               31.20
216       28.15   3.00    Male    Yes   Sat  Dinner     5               31.15
211       25.89   5.16    Male    Yes   Sat  Dinner     4               31.05
192       28.44   2.56    Male    Yes  Thur   Lunch     2               31.00
48        28.55   2.05    Male     No   Sun  Dinner     3               30.60
88        24.71   5.85    Male     No  Thur   Lunch     2               30.56
73        25.28   5.00  Female    Yes   Sat  Dinner     2               30.28
206       26.59   3.41    Male    Yes   Sat  Dinner     3               30.00
72        26.86   3.14  Female    Yes   Sat  Dinner     2               30.00
5         25.29   4.71    Male     No   Sun  Dinner     4               30.00
7         26.88   3.12    Male     No   Sun  Dinner     4               30.00
54        25.56   4.34    Male     No   Sun  Dinner     4               29.90
114       25.71   4.00  Female     No   Sun  Dinner     3               29.71
183       23.17   6.50    Male    Yes   Sun  Dinner     4               29.67
107       25.21   4.29    Male    Yes   Sat  Dinner     2               29.50
240       27.18   2.00  Female    Yes   Sat  Dinner     2               29.18
181       23.33   5.65    Male    Yes   Sun  Dinner     2               28.98
157       25.00   3.75  Female     No   Sun  Dinner     4               28.75
4         24.59   3.61  Female     No   Sun  Dinner     4               28.20
165       24.52   3.48    Male     No   Sun  Dinner     3               28.00
57        26.41   1.50  Female     No   Sat  Dinner     2               27.91
35        24.06   3.60    Male     No   Sat  Dinner     3               27.66
46        22.23   5.00    Male     No   Sun  Dinner     2               27.23
189       23.10   4.00    Male    Yes   Sun  Dinner     3               27.10
119       24.08   2.92  Female     No  Thur   Lunch     4               27.00
3         23.68   3.31    Male     No   Sun  Dinner     2               26.99
153       24.55   2.00    Male     No   Sun  Dinner     4               26.55
113       23.95   2.55    Male     No   Sun  Dinner     2               26.50
208       24.27   2.03    Male    Yes   Sat  Dinner     2               26.30
230       24.01   2.00    Male    Yes   Sat  Dinner     4               26.01
94        22.75   3.25  Female     No   Fri  Dinner     2               26.00
28        21.70   4.30    Male     No   Sat  Dinner     2               26.00
91        22.49   3.50    Male     No   Fri  Dinner     2               25.99
103       22.42   3.48  Female    Yes   Sat  Dinner     2               25.90
78        22.76   3.00    Male     No  Thur   Lunch     2               25.76
185       20.69   5.00    Male     No   Sun  Dinner     5               25.69
15        21.58   3.92    Male     No   Sun  Dinner     2               25.50
129       22.82   2.18    Male     No  Thur   Lunch     3               25.00
104       20.92   4.08  Female     No   Sat  Dinner     2               25.00
160       21.50   3.50    Male     No   Sun  Dinner     4               25.00
229       22.12   2.88  Female    Yes   Sat  Dinner     2               25.00
241       22.67   2.00    Male    Yes   Sat  Dinner     2               24.67
106       20.49   4.06    Male    Yes   Sat  Dinner     2               24.55
204       20.53   4.00    Male    Yes  Thur   Lunch     4               24.53
2         21.01   3.50    Male     No   Sun  Dinner     3               24.51
186       20.90   3.50  Female    Yes   Sun  Dinner     3               24.40
89        21.16   3.00    Male     No  Thur   Lunch     2               24.16
98        21.01   3.00    Male    Yes   Fri  Dinner     2               24.01
191       19.81   4.19  Female    Yes  Thur   Lunch     2               24.00
19        20.65   3.35    Male     No   Sat  Dinner     3               24.00
60        20.29   3.21    Male    Yes   Sat  Dinner     2               23.50
227       20.45   3.00    Male     No   Sat  Dinner     4               23.45
65        20.08   3.15    Male     No   Sat  Dinner     3               23.23
33        20.69   2.45  Female     No   Sat  Dinner     4               23.14
131       20.27   2.83  Female     No  Thur   Lunch     2               23.10
21        20.29   2.75  Female     No   Sat  Dinner     2               23.04
24        19.82   3.18    Male     No   Sat  Dinner     2               23.00
55        19.49   3.51    Male     No   Sun  Dinner     2               23.00
166       20.76   2.24    Male     No   Sun  Dinner     2               23.00
200       18.71   4.00    Male    Yes  Thur   Lunch     3               22.71
29        19.65   3.00  Female     No   Sat  Dinner     2               22.65
80        19.44   3.00    Male    Yes  Thur   Lunch     2               22.44
87        18.28   4.00    Male     No  Thur   Lunch     2               22.28
68        20.23   2.01    Male     No   Sat  Dinner     2               22.24
63        18.29   3.76    Male    Yes   Sat  Dinner     4               22.05
108       18.24   3.76    Male     No   Sat  Dinner     2               22.00
20        17.92   4.08    Male     No   Sat  Dinner     2               22.00
243       18.78   3.00  Female     No  Thur  Dinner     2               21.78
154       19.77   2.00    Male     No   Sun  Dinner     4               21.77
188       18.15   3.50  Female    Yes   Sun  Dinner     3               21.65
134       18.26   3.25  Female     No  Thur   Lunch     2               21.51
13        18.43   3.00    Male     No   Sun  Dinner     4               21.43
45        18.29   3.00    Male     No   Sun  Dinner     2               21.29
34        17.78   3.27    Male     No   Sat  Dinner     2               21.05
49        18.04   3.00    Male     No   Sun  Dinner     2               21.04
38        18.69   2.31    Male     No   Sat  Dinner     3               21.00
76        17.92   3.08    Male    Yes   Sat  Dinner     2               21.00
140       17.47   3.50  Female     No  Thur   Lunch     2               20.97
31        18.35   2.50    Male     No   Sat  Dinner     4               20.85
174       16.82   4.00    Male    Yes   Sun  Dinner     2               20.82
115       17.31   3.50  Female     No   Sun  Dinner     2               20.81
93        16.32   4.30  Female    Yes   Fri  Dinner     2               20.62
130       19.08   1.50    Male     No  Thur   Lunch     2               20.58
194       16.58   4.00    Male    Yes  Thur   Lunch     2               20.58
164       17.51   3.00  Female    Yes   Sun  Dinner     2               20.51
18        16.97   3.50  Female     No   Sun  Dinner     3               20.47
64        17.59   2.64    Male     No   Sat  Dinner     3               20.23
25        17.81   2.34    Male     No   Sat  Dinner     4               20.15
71        17.07   3.00  Female     No   Sat  Dinner     3               20.07
81        16.66   3.40    Male     No  Thur   Lunch     2               20.06
17        16.29   3.71    Male     No   Sun  Dinner     3               20.00
37        16.93   3.07  Female     No   Sat  Dinner     3               20.00
79        17.29   2.71    Male     No  Thur   Lunch     2               20.00
152       17.26   2.74    Male     No   Sun  Dinner     3               20.00
41        17.46   2.54    Male     No   Sun  Dinner     2               20.00
146       18.64   1.36  Female     No  Thur   Lunch     3               20.00
176       17.89   2.00    Male    Yes   Sun  Dinner     2               19.89
205       16.47   3.23  Female    Yes  Thur   Lunch     3               19.70
242       17.82   1.75    Male     No   Sat  Dinner     2               19.57
223       15.98   3.00  Female     No   Fri   Lunch     3               18.98
171       15.81   3.16    Male    Yes   Sat  Dinner     2               18.97
66        16.45   2.47  Female     No   Sat  Dinner     2               18.92
203       16.40   2.50  Female    Yes  Thur   Lunch     2               18.90
225       16.27   2.50  Female    Yes   Fri   Lunch     2               18.77
144       16.43   2.30  Female     No  Thur   Lunch     2               18.73
231       15.69   3.00    Male    Yes   Sat  Dinner     3               18.69
234       15.53   3.00    Male    Yes   Sat  Dinner     2               18.53
159       16.49   2.00    Male     No   Sun  Dinner     4               18.49
101       15.38   3.00  Female    Yes   Fri  Dinner     2               18.38
109       14.31   4.00  Female    Yes   Sat  Dinner     2               18.31
36        16.31   2.00    Male     No   Sat  Dinner     3               18.31
40        16.04   2.24    Male     No   Sat  Dinner     3               18.28
162       16.21   2.00  Female     No   Sun  Dinner     3               18.21
32        15.06   3.00  Female     No   Sat  Dinner     2               18.06
84        15.98   2.03    Male     No  Thur   Lunch     2               18.01
9         14.78   3.23    Male     No   Sun  Dinner     2               18.01
0         16.99   1.01  Female     No   Sun  Dinner     2               18.00
138       16.00   2.00    Male    Yes  Thur   Lunch     2               18.00
22        15.77   2.23  Female     No   Sat  Dinner     2               18.00
123       15.95   2.00    Male     No  Thur   Lunch     2               17.95
14        14.83   3.02  Female     No   Sun  Dinner     2               17.85
193       15.48   2.02    Male    Yes  Thur   Lunch     2               17.50
190       15.69   1.50    Male    Yes   Sun  Dinner     2               17.19
69        15.01   2.09    Male    Yes   Sat  Dinner     2               17.10
105       15.36   1.64    Male    Yes   Sat  Dinner     2               17.00
110       14.00   3.00    Male     No   Sat  Dinner     2               17.00
42        13.94   3.06    Male     No   Sun  Dinner     2               17.00
8         15.04   1.96    Male     No   Sun  Dinner     2               17.00
12        15.42   1.57    Male     No   Sun  Dinner     2               16.99
74        14.73   2.20  Female     No   Sat  Dinner     2               16.93
221       13.42   3.48  Female    Yes   Fri   Lunch     2               16.90
122       14.26   2.50    Male     No  Thur   Lunch     2               16.76
150       14.07   2.50    Male     No   Sun  Dinner     2               16.57
127       14.52   2.00  Female     No  Thur   Lunch     2               16.52
177       14.48   2.00    Male    Yes   Sun  Dinner     2               16.48
137       14.15   2.00  Female     No  Thur   Lunch     2               16.15
158       13.39   2.61  Female     No   Sun  Dinner     2               16.00
228       13.28   2.72    Male     No   Sat  Dinner     2               16.00
139       13.16   2.75  Female     No  Thur   Lunch     2               15.91
163       13.81   2.00    Male     No   Sun  Dinner     2               15.81
61        13.81   2.00    Male    Yes   Sat  Dinner     2               15.81
213       13.27   2.50  Female    Yes   Sat  Dinner     2               15.77
199       13.51   2.00    Male    Yes  Thur   Lunch     2               15.51
26        13.37   2.00    Male     No   Sat  Dinner     2               15.37
161       12.66   2.50    Male     No   Sun  Dinner     2               15.16
151       13.13   2.00    Male     No   Sun  Dinner     2               15.13
121       13.42   1.68  Female     No  Thur   Lunch     2               15.10
50        12.54   2.50    Male     No   Sun  Dinner     2               15.04
86        13.03   2.00    Male     No  Thur   Lunch     2               15.03
232       11.61   3.39    Male     No   Sat  Dinner     2               15.00
224       13.42   1.58    Male    Yes   Fri   Lunch     2               15.00
124       12.48   2.52  Female     No  Thur   Lunch     2               15.00
198       13.00   2.00  Female    Yes  Thur   Lunch     2               15.00
202       13.00   2.00  Female    Yes  Thur   Lunch     2               15.00
209       12.76   2.23  Female    Yes   Sat  Dinner     2               14.99
201       12.74   2.01  Female    Yes  Thur   Lunch     2               14.75
27        12.69   2.00    Male     No   Sat  Dinner     2               14.69
220       12.16   2.20    Male    Yes   Fri   Lunch     2               14.36
133       12.26   2.00  Female     No  Thur   Lunch     2               14.26
118       12.43   1.80  Female     No  Thur   Lunch     2               14.23
215       12.90   1.10  Female    Yes   Sat  Dinner     2               14.00
120       11.69   2.31    Male     No  Thur   Lunch     2               14.00
70        12.02   1.97    Male     No   Sat  Dinner     2               13.99
99        12.46   1.50    Male     No   Fri  Dinner     2               13.96
100       11.35   2.50  Female    Yes   Fri  Dinner     2               13.85
178        9.60   4.00  Female    Yes   Sun  Dinner     2               13.60
236       12.60   1.00    Male    Yes   Sat  Dinner     2               13.60
97        12.03   1.50    Male    Yes   Fri  Dinner     2               13.53
147       11.87   1.63  Female     No  Thur   Lunch     2               13.50
128       11.38   2.00  Female     No  Thur   Lunch     2               13.38
217       11.59   1.50    Male    Yes   Sat  Dinner     2               13.09
62        11.02   1.98    Male    Yes   Sat  Dinner     2               13.00
58        11.24   1.76    Male    Yes   Sat  Dinner     2               13.00
51        10.29   2.60  Female     No   Sun  Dinner     2               12.89
132       11.17   1.50  Female     No  Thur   Lunch     2               12.67
169       10.63   2.00  Female    Yes   Sat  Dinner     2               12.63
172        7.25   5.15    Male    Yes   Sun  Dinner     2               12.40
196       10.34   2.00    Male    Yes  Thur   Lunch     2               12.34
136       10.33   2.00  Female     No  Thur   Lunch     2               12.33
233       10.77   1.47    Male     No   Sat  Dinner     2               12.24
168       10.59   1.61  Female    Yes   Sat  Dinner     2               12.20
117       10.65   1.50  Female     No  Thur   Lunch     2               12.15
226       10.09   2.00  Female    Yes   Fri   Lunch     2               12.09
1         10.34   1.66    Male     No   Sun  Dinner     3               12.00
16        10.33   1.67  Female     No   Sun  Dinner     3               12.00
10        10.27   1.71    Male     No   Sun  Dinner     2               11.98
82        10.07   1.83  Female     No  Thur   Lunch     1               11.90
75        10.51   1.25    Male     No   Sat  Dinner     2               11.76
148        9.78   1.73    Male     No  Thur   Lunch     2               11.51
53         9.94   1.56    Male     No   Sun  Dinner     2               11.50
235       10.07   1.25    Male     No   Sat  Dinner     2               11.32
43         9.68   1.32    Male     No   Sun  Dinner     2               11.00
30         9.55   1.45    Male     No   Sat  Dinner     2               11.00
6          8.77   2.00    Male     No   Sun  Dinner     2               10.77
222        8.58   1.92    Male    Yes   Fri   Lunch     1               10.50
126        8.52   1.48    Male     No  Thur   Lunch     2               10.00
145        8.35   1.50  Female     No  Thur   Lunch     2                9.85
135        8.51   1.25  Female     No  Thur   Lunch     2                9.76
149        7.51   2.00    Male     No  Thur   Lunch     2                9.51
218        7.74   1.44    Male    Yes   Sat  Dinner     2                9.18
195        7.56   1.44    Male     No  Thur   Lunch     2                9.00
111        7.25   1.00  Female     No   Sat  Dinner     1                8.25
92         5.75   1.00  Female    Yes   Fri  Dinner     2                6.75
67         3.07   1.00  Female    Yes   Sat  Dinner     1                4.07